1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

answer:
* = expressions
'hello'= values
-87.8 = values
- = expressions
+ = expressions
/ = expressions
6 = values

2. What is the difference between string and variable?

answer:
    variable is something which is basically used to store any kind of information. it can be numbers, sentences, any arithmetic operator, values, and so on. 
    on the other hand string is a particular type of data that any variable can take. it is primarily a text type of data.
    for example,
    a = "name"
    here a is the variable which stores the information "name" in it. and name can be in text format which is a string.

3. Describe three different data types

answer:
    boolean, string, numeric are the three different data types.
    boolean- gives true or false answer of an expression. also while writing true and false in python, the first letter, that is, 'T'and 'F'should always be in upper case. if its not in uppercase then the code wont run.
    string- string data type considers only text format of any value. any kind of alphabets, sentences, or even numbers if given within double inverted quotes, then it will be considered as string data type.
    numeric- numeric data type considers all kind of numbers. if the number is in decimal then it will be float data type, if the number is a whole number then it will be an integer datatype, and if the number is in the format of b = 2+3j, then it will be complex.'j is always considered as complex in python.'

In [1]:
a = True
type(a)

bool

In [2]:
b, c, d="debnandini", "56","my name"
type(b)

str

In [3]:
type(c)

str

In [4]:
f= 2+3j
type(f)

complex

4. What is an expression made up of? What do all expressions do?

An expression is like a mixture of operators and operands. using some operators together we can perform some program and get values.
these operators include, addition(+), substraction(-), multiplication(*), division(/). 
expressions together help in finding out the value or output of a program.
for example, x=a+b-12, this equation is an expression and the +,- used are the operators.

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

answer:
    expression needs to have some combination of operator and the operand. here in this example there is no operator used, hence its just a mere statement.

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [5]:
#answer
bacon = 22
bacon+1

23

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [6]:
a='spam' + 'spamspam'
b='spam' * 3
print(a)
print(b)

spamspamspam
spamspamspam

8. Why is eggs a valid variable name while 100 is invalid?

answer: variable name cannot start with integer values, it should start with alphabets.

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [7]:
a="10"
str(a)

'10'

In [8]:
b=34.9
float(b)

34.9

In [9]:
c=23
int(c)

23

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

x='I have eaten ' + 99 + ' burritos.'
its a error because 99 here is considered as an integer.we cannot write string and integer together is a line.we need to change it to same data type.either both can be string or both can be integer.
to change 99 from integer to string we can put 99 in double/single inverted quotes("99"), then it will be changed to string.

In [10]:
x='I have eaten ' + '99' + ' burritos'